* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.menu_cont_in {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.main_cont {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.content_cont {
  width: 100%;
  height: 90%;
  position: relative;
  top:80px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;


}

.product_box {
  width: 80%;
  max-width: 1200px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}



.product_box img {
  height: 100%;
  width: 50%;
}

.product_spec{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;


}

.product_title{
  font-family: Helvetica Neue;
  font-size: 25px;
  margin-top: 25px;
}

.product_price{
  font-family: Helvetica Neue;
  font-size: 21px;
  color:#835329;
  margin-bottom: 0px;
  position: relative;
  top:-10px;
}

.prod_desc{
  font-family: Helvetica Neue;
  width: 70%;
  text-align: center;
}

.choose_spec {
  width: 60%;
  height: 40px;
  display: flex;
  justify-content: space-around;
}




.type_filter img, .quantity_prod img{
  height: 40%;
  margin-left: auto;
  width: auto;
  padding-left: 5px;
  padding-right: 10px;
}




.quantity_prod > p, .type_filter > p {
  font-family: Helvetica Neue;
  font-size: 20px;
}

.type_filter, .quantity_prod {
  width: 40%;
  height: 100%;
  border: solid 1px grey;
  display: flex;
  align-items: center;
}

.drop, .relevance_filter > p {
  font-family: Helvetica Neue;
  font-size: 22px;
  font-weight: lighter;
  padding-left: 15px;
  padding-right: 15px;
}

.learn-shop-but {
  width: 30%;
  height: 35px;
  background-color: #b2c1aa;
  color: white;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 30px;
  font-family: Helvetica;


}









@media screen and (min-width: 1000px) and (max-width: 1281px) {




  .content_cont {
    height: 80%;
  }


  .menu-item{
    font-size: 18px;
  }

  .learn-shop-but {
    font-size: 17px;
    height: 50px;
    margin: 0% 5% 0 ;
    width: 30%;

  }

  .presentation {
    font-size: 30px;
    top: -50px;
  }
  .main_cont {
    background-size: 130%;

  }
}

@media screen and (min-width: 300px) and (max-width: 420px) {


  .content_cont {
    width: 100%;
    height: 70vh;
    position: relative;
    top: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border: solid 1px blue;

  }
  .product_box {
    flex-direction: column;
    width: 90%;
    height: 100%;
    align-items: center;

  }

  .product_box img {
    height: 45%;
    width: 85%;
  }

  .product_spec{
    height: 50%;
    width: 90%;
  }

  .product_title{
    font-family: Helvetica Neue;
    font-size: 6vw;
    margin-top: 15px;
  }

  .product_price{
    font-family: Helvetica Neue;
    font-size: 5vw;
    color:#835329;
    top:0px;

  }

  .prod_desc{
    width: 80%;
    font-size: 4vw;
  }

  .choose_spec {
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: space-around;
  }

  .type_filter img, .quantity_prod img{
    height: 40%;
    margin-left: auto;
    width: auto;
    padding-left: 5px;
    padding-right: 10px;
  }




  .quantity_prod > p, .type_filter > p {
    font-family: Helvetica Neue;
    font-size: 20px;
  }

  .type_filter, .quantity_prod {
    width: 40%;
    height: 100%;
    border: solid 1px grey;
    display: flex;
    align-items: center;
  }

  .drop, .relevance_filter > p {
    font-family: Helvetica Neue;
    font-size: 22px;
    font-weight: lighter;
    padding-left: 15px;
    padding-right: 15px;
  }

  .learn-shop-but {
    width: 30%;
    height: 35px;
    background-color: #b2c1aa;
    color: white;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
    font-family: Helvetica;


  }


}
